DATABASE_URL="file:./data/dev.db"
APP_KEY="your-secret-key"
PORT=3333
NODE_ENV=development 
API_URL="http://localhost:3000"
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"