.hero_text {
  text-align: center;
  font-size: var(--paragraph-font-size);
}

.hero_cta {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.try_btn {
  font-family: var(--title-font);
  color: var(--text-color);
  font-size: var(--paragraph-font-size);
  padding: 10px 20px;
  background-color: rgba(var(--glass-bg-rgb), var(--glass-bg-opacity));
  border: 1px solid
    rgba(var(--glass-border-color-rgb), var(--glass-border-opacity));
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(var(--glass-border-color-rgb), 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
}

.try_btn:hover {
  background-color: rgba(
    var(--glass-border-color-rgb),
    var(--glass-hover-bg-opacity)
  );
  border-radius: var(--glass-hover-radius);
}

.try_btn:active {
  transform: scale(0.95);
}

.join_btn {
  font-family: var(--title-font);
  color: var(--text-color);
  font-size: var(--paragraph-font-size);
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid
    rgba(var(--glass-border-color-rgb), var(--glass-border-opacity));
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(var(--glass-border-color-rgb), 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
}

.join_btn:hover {
  background-color: rgba(
    var(--glass-border-color-rgb),
    var(--glass-hover-bg-opacity)
  );
  border-radius: var(--glass-hover-radius);
}

.join_btn:active {
  transform: scale(0.95);
}

.home_image_container {
  margin: 70px auto !important;
}

.home_image {
  border: 1px solid
    rgba(var(--glass-border-color-rgb), var(--glass-border-opacity));
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(var(--glass-border-color-rgb), 0.5);
}

@media (max-width: 768px) {
  .hero_cta {
    margin: 20px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 95%;
  }

  .try_btn,
  .join_btn {
    box-shadow: 0 0 3px rgba(var(--glass-border-color-rgb), 0.5);
  }

  .home_image_container {
    margin: 50px auto !important;
    width: 95%;
  }

  .home_image {
    border-radius: 10px;
  }
}
