@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;

  --background: hsl(224 71.4% 4.1%);
  --foreground: hsl(210 20% 98%);

  --primary: hsl(263.4 70% 50.4%);
  --secondary: hsl(215 27.9% 16.9%);
  --destructive: hsl(0 62.8% 30.6%);

  --radius: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
}

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);

  --background: var(--background);
  --foreground: var(--foreground);

  --primary: var(--primary);
  --secondary: var(--secondary);
  --destructive: var(--destructive);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  h2 {
    @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  p {
    @apply leading-7 [&:not(:last-child)]:mb-6;
  }
}

@layer utilities {
  .padding {
    @apply px-4 py-8 sm:px-8 sm:py-12 lg:px-16 lg:py-16;
  }

  .padding-x {
    @apply px-4 sm:px-8 lg:px-16;
  }

  .padding-y {
    @apply py-8 sm:py-12 lg:py-16;
  }
}
